/* Color Theme Swatches in Hex */
.Upbit-Care-Promotion-Event-1-hex {
    color: #F25E7A;
}

.Upbit-Care-Promotion-Event-2-hex {
    color: #022873;
}

.Upbit-Care-Promotion-Event-3-hex {
    color: #035AA6;
}

.Upbit-Care-Promotion-Event-4-hex {
    color: #05C7F2;
}

.Upbit-Care-Promotion-Event-5-hex {
    color: #F2C063;
}

/* Color Theme Swatches in Hex */
.branding-1-hex {
    color: #0F1359;
}

.branding-2-hex {
    color: #494FBF;
}

.branding-3-hex {
    color: #4449A6;
}

.branding-4-hex {
    color: #1A1C40;
}

.branding-5-hex {
    color: #72738C;
}