@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    body {
        @apply bg-[#072146] px-container pb-container
    }
}

@layer utilities {
    .clip-path-0 {
        clip-path: circle(0 at 100% 0);
    }
    .clip-path-full {
        clip-path: circle(140.9% at 100% 0);
    }

    .h-100vh {
        height: calc(100vh - theme("height.nav"));
    }
    
}